Definitive_saves/
General_test_saved_files/
General_test_temp_files/
Saved_files_exp_1/
Saved_files_exp_0.1/
Temp_files_exp_0.1/
mptopcom_code/
mptopcom_modified_to_create_new_programs/
Triang_exploration_legacy/
Experiments/
legacy/
Graphs_legacy/
Discrete_optimization_exps/Saves
